@font-face {
  font-family: 'SceneW01-Black';
  src: url(../../../assets/fonts/SceneW01-Black.ttf);
}

:root {
  font-size: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  padding: 190px 0;
  max-width: 116rem;
  width: 100%;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.panda {
  margin: 0 0 33px 0;
  width: 100%;
}

.panda__img {
  margin: 0 auto;
  background-image: url(../../../assets/images/error/panda.svg);
  width: 675px;
  height: 558px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.page-not-found {
  margin: 0 0 19px 0;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #333;
}

.go-back {
  display: block;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #59c3fb;
}

.go-back:hover {
  color: #267bde;
}

@media (max-width: 1300px) {
  .wrapper {
    padding: 50px 0;
  }
  .page-not-found {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 720px) {
  .wrapper {
    padding: 110px 0;
  }
  .panda {
    margin: 0 0 25px 0;
  }
  .panda__img {
    width: 550px;
    height: 454px;
  }
}

@media (max-width: 596px) {
  .wrapper {
    padding: 136px 0;
  }
  .panda {
    margin: 0 0 13px 0;
  }
  .panda__img {
    width: 260px;
    height: 215px;
  }
  .page-not-found {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 12px 0;
  }
  .go-back {
    font-size: 16px;
    line-height: 16px;
  }
}
/*# sourceMappingURL=main.css.map */